# Byte-compiled / optimized / DLL files
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Environment / virtual environment
venv/

# Python
.env

# Models
/models

# Logs
/logs

# Data
/data/output
/data/processed
