# OpenAI API Key
API_KEY=

# Configuration Parameters
SIMILARITY_THRESHOLD=0.8
DBSCAN_EPS=0.5
MIN_SAMPLES=2
KMEANS_CLUSTERS=3

# Output Directories
OUTPUT_DIR=../data/output
MODEL_DIR=../data/models
VIZ_DIR=../data/visualizations 